# Initial Analysis to see if foreign success predictions will work

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
movie_data_2015_2016 = pd.read_csv('movie_data_2015_2016.csv')

In [12]:
movie_data_2015_2016.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,Finding Dory,135060273,221800000,0,Animation,2016-06-17 00:00:00
1,Captain America:Civil War,179139142,744400000,250000000,Action / Adventure,2016-05-06 00:00:00
2,Deadpool,132434639,418968273,58000000,Action,2016-02-12 00:00:00
3,The Jungle Book (2016),103261464,575900000,175000000,Adventure,2016-04-15 00:00:00
4,Zootopia,75063401,680600000,0,Animation,2016-03-04 00:00:00

# Find number of movies that have foreign gross info

In [5]:
len(movie_data_2015_2016[movie_data_2015_2016['FOREIGN_TOTAL']!=0])

256

# Total number of movies

In [6]:
len(movie_data_2015_2016)

1062

# Make a dataframe that has just the movies with foreign total information

In [13]:
foreign_data_2015_2016 = movie_data[movie_data['FOREIGN_TOTAL']!=0]

In [14]:
foreign_data_2015_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 970
Data columns (total 6 columns):
MOVIE_NAME          256 non-null object
DOMESTIC_OPENING    256 non-null int64
FOREIGN_TOTAL       256 non-null int64
BUDGET              256 non-null int64
GENRE               256 non-null object
RELEASE_DATE        256 non-null object
dtypes: int64(3), object(3)
memory usage: 14.0+ KB

# Movie data from 2013-2014

In [15]:
movie_data_2013_2014 = pd.read_csv('movie_data_2013_2014.csv')

In [16]:
movie_data_2013_2014.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,American Sniper,89902522,197300000,0,Drama,2014-12-25 00:00:00
1,The Hunger Games:Mockingjay - Part 1,121897634,418220826,125000000,Action / Adventure,2014-11-21 00:00:00
2,Guardians of the Galaxy,94320883,440135799,170000000,Action / Adventure,2014-08-01 00:00:00
3,Captain America:The Winter Soldier,95023721,454654931,170000000,Action / Adventure,2014-04-04 00:00:00
4,The LEGO Movie,69050279,211400000,60000000,Animation,2014-02-07 00:00:00

In [17]:
foreign_movies_2013_2014 = movie_data_2013_2014[movie_data_2013_2014['FOREIGN_TOTAL']!=0]

In [19]:
movie_df = pd.concatforeign_data_2015_2016.concat(foreign_movies_2013_2014, on)

AttributeError: 'DataFrame' object has no attribute 'concat'