# Initial Analysis to see if foreign success predictions will work

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
movie_data_2015_2016 = pd.read_csv('movie_data_2015_2016.csv')

In [12]:
movie_data_2015_2016.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,Finding Dory,135060273,221800000,0,Animation,2016-06-17 00:00:00
1,Captain America:Civil War,179139142,744400000,250000000,Action / Adventure,2016-05-06 00:00:00
2,Deadpool,132434639,418968273,58000000,Action,2016-02-12 00:00:00
3,The Jungle Book (2016),103261464,575900000,175000000,Adventure,2016-04-15 00:00:00
4,Zootopia,75063401,680600000,0,Animation,2016-03-04 00:00:00

# Find number of movies that have foreign gross info

In [5]:
len(movie_data_2015_2016[movie_data_2015_2016['FOREIGN_TOTAL']!=0])

256

# Total number of movies

In [6]:
len(movie_data_2015_2016)

1062

# Make a dataframe that has just the movies with foreign total information

In [13]:
foreign_data_2015_2016 = movie_data[movie_data['FOREIGN_TOTAL']!=0]

In [14]:
foreign_data_2015_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 970
Data columns (total 6 columns):
MOVIE_NAME          256 non-null object
DOMESTIC_OPENING    256 non-null int64
FOREIGN_TOTAL       256 non-null int64
BUDGET              256 non-null int64
GENRE               256 non-null object
RELEASE_DATE        256 non-null object
dtypes: int64(3), object(3)
memory usage: 14.0+ KB

# Movie data from 2013-2014

In [15]:
movie_data_2013_2014 = pd.read_csv('movie_data_2013_2014.csv')

In [16]:
movie_data_2013_2014.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,American Sniper,89902522,197300000,0,Drama,2014-12-25 00:00:00
1,The Hunger Games:Mockingjay - Part 1,121897634,418220826,125000000,Action / Adventure,2014-11-21 00:00:00
2,Guardians of the Galaxy,94320883,440135799,170000000,Action / Adventure,2014-08-01 00:00:00
3,Captain America:The Winter Soldier,95023721,454654931,170000000,Action / Adventure,2014-04-04 00:00:00
4,The LEGO Movie,69050279,211400000,60000000,Animation,2014-02-07 00:00:00

# Get only the movies with foreign data

In [17]:
foreign_movies_2013_2014 = movie_data_2013_2014[movie_data_2013_2014['FOREIGN_TOTAL']!=0]

# Combine the data frames

In [21]:
movie_df = pd.concat([foreign_data_2015_2016,foreign_movies_2013_2014])

In [24]:
movie_df.shape

(687, 6)

In [28]:
movie_df.reset_index()

,index,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,0,Finding Dory,135060273,221800000,0,Animation,2016-06-17 00:00:00
1,1,Captain America:Civil War,179139142,744400000,250000000,Action / Adventure,2016-05-06 00:00:00
2,2,Deadpool,132434639,418968273,58000000,Action,2016-02-12 00:00:00
3,3,The Jungle Book (2016),103261464,575900000,175000000,Adventure,2016-04-15 00:00:00
4,4,Zootopia,75063401,680600000,0,Animation,2016-03-04 00:00:00
5,5,Batman v Superman:Dawn of Justice,166007347,542302437,250000000,Action / Adventure,2016-03-25 00:00:00
6,6,X-Men:Apocalypse,65769562,378888139,178000000,Action / Adventure,2016-05-27 00:00:00
7,7,The Secret Life of Pets,104352905,42765555,75000000,Animation,2016-07-08 00:00:00
8,8,Kung Fu Panda 3,41282042,375479654,0,Animation,2016-01-29 00:00:00
9,9,Central Intelligence,35535250,47749340,50000000,Comedy,2016-06-17 00:00:00
10,10,The Angry Birds Movie,38155177,235453777,73000000,Animation,2016-05-20 00:00:00
11,11,The Conjuring 2,40406314,192400000,40000000,Horror,2016-06-10 00:00:00
12,12,Independence Day:Resurgence,41039944,215500729,165000000,Sci-Fi Adventure,2016-06-24 00:00:00
13,13,The Legend of Tarzan,38527856,56000000,180000000,Action / Adventure,2016-07-01 00:00:00
14,14,Ride Along 2,35243095,33383467,40000000,Action Comedy,2016-01-15 00:00:00
15,15,Teenage Mutant Ninja Turtles:Out of the Shadows,35316382,143471916,135000000,Action / Adventure,2016-06-03 00:00:00
16,16,Alice Through the Looking Glass,26858726,194700000,170000000,Family Adventure,2016-05-27 00:00:00
17,17,10 Cloverfield Lane,24727437,36203423,0,Thriller,2016-03-11 00:00:00
18,18,The Divergent Series:Allegiant,29027348,113056198,0,Action / Adventure,2016-03-18 00:00:00
19,19,The Purge:Election Year,31515110,2424848,10000000,Thriller,2016-07-01 00:00:00
20,20,The Boss,23586645,15558697,29000000,Comedy,2016-04-08 00:00:00
21,21,Now You See Me 2,22383146,178493585,0,Thriller,2016-06-10 00:00:00
22,22,London Has Fallen,21635601,133201324,60000000,Action,2016-03-04 00:00:00
23,23,Miracles from Heaven,14812393,11858303,13000000,Drama,2016-03-16 00:00:00
24,24,My Big Fat Greek Wedding 2,17861950,29233646,0,Comedy,2016-03-25 00:00:00
25,25,Neighbors 2:Sorority Rising,21760405,49103644,0,Comedy,2016-05-20 00:00:00
26,26,Me Before You,18723269,102800000,20000000,Romance,2016-06-03 00:00:00
27,27,Barbershop:The Next Cut,20242415,1000000,0,Comedy,2016-04-15 00:00:00
28,28,13 Hours:The Secret Soldiers of Benghazi,16194738,16558151,50000000,Drama,2016-01-15 00:00:00
29,29,The Shallows,16800868,2305756,17000000,Horror,2016-06-24 00:00:00
...,...,...,...,...,...,...,...
657,985,Haute Cuisine,14387,11166132,0,Foreign,2013-09-20 00:00:00
658,996,Populaire,15690,5315819,0,Foreign,2013-09-06 00:00:00
659,998,Broken Circle Breakdown,7100,5300000,0,Foreign,2013-11-01 00:00:00
660,1020,Fists of Legend,49252,5253585,0,Foreign / Action,2013-04-12 00:00:00
661,1041,Upside Down,28722,8001380,0,Fantasy,2013-03-15 00:00:00
662,1047,Therese,20050,1509595,0,Foreign,2013-08-23 00:00:00
663,1048,Capital,22400,2420081,0,Foreign,2013-10-25 00:00:00
664,1051,Shadow Dancer,10672,319337,0,Drama / Thriller,2013-05-31 00:00:00
665,1054,The Silence,7992,132204,0,Foreign,2013-03-08 00:00:00
666,1064,Young Detective Dee:Rise of the Sea Dragon,32795,72200000,0,Foreign / Action,2013-09-27 00:00:00
667,1074,Commitment,0,4467956,0,Foreign,2013-12-06 00:00:00
668,1077,Reality (2013),7072,2162338,0,Foreign,2013-03-15 00:00:00
669,1098,Lost in Thailand,32206,197700000,0,Foreign,2013-02-08 00:00:00
670,1121,Tiny Times 2,20652,47246149,0,Foreign,2013-08-16 00:00:00
671,1135,The Wall (2013),2188,1118091,0,Foreign,2013-05-31 00:00:00
672,1151,Tai Chi Hero,12624,346834,0,Foreign / Action,2013-04-26 00:00:00
673,1153,I Give It a Year,5436,28200000,0,Romantic Comedy,2013-08-09 00:00:00
674,1173,The Sweeney,20321,6267511,0,Crime,2013-03-01 00:00:00
675,1184,Tiny Times,12294,77693552,0,Foreign,2013-07-26 00:00:00
676,1189,Pieta,6222,3601250,0,Foreign,2013-05-17 00:00:00
677,1194,Violeta Went to Heaven,5588,1190077,0,Foreign,2013-03-29 00:00:00
678,1207,You Ain't Seen Nothin' Yet,5343,487821,0,Foreign,2013-06-07 00:00:00
679,1209,The Sorcerer and the White Snake,5530,2100000,0,Foreign / Action,2013-02-08 00:00:00
680,1219,Mental,9804,3577981,0,Comedy,2013-03-29 00:00:00
681,1237,The Monk,8418,794063,0,Foreign,2013-03-08 00:00:00
682,1277,White Elephant,5098,4379023,0,Foreign,2013-03-29 00:00:00
683,1313,A Bottle in the Gaza Sea,2531,305966,0,Foreign,2013-01-04 00:00:00
684,1343,Mr. Nobody,1612,3543587,0,Drama,2013-11-01 00:00:00
685,1381,Khumba,1029,27186346,0,Animation,2013-12-06 00:00:00
686,1383,Billy and Buddy,0,15229656,0,Foreign,2013-11-08 00:00:00

In [ ]:
movie