# Initial Analysis to see if foreign success predictions will work

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
movie_data = pd.read_csv('movie_data.csv')

In [4]:
movie_data.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,Finding Dory,135060273,221800000,0,Animation,2016-06-17 00:00:00
1,Captain America:Civil War,179139142,744400000,250000000,Action / Adventure,2016-05-06 00:00:00
2,Deadpool,132434639,418968273,58000000,Action,2016-02-12 00:00:00
3,The Jungle Book (2016),103261464,575900000,175000000,Adventure,2016-04-15 00:00:00
4,Zootopia,75063401,680600000,0,Animation,2016-03-04 00:00:00

In [5]:
len(movie_data[movie_data['FOREIGN_TOTAL']!=0])

256

In [6]:
len(movie_data)

1062

In [7]:
foreign_data = movie_data[movie_data['FOREIGN_TOTAL']!=0]

In [9]:
foreign_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 970
Data columns (total 6 columns):
MOVIE_NAME          256 non-null object
DOMESTIC_OPENING    256 non-null int64
FOREIGN_TOTAL       256 non-null int64
BUDGET              256 non-null int64
GENRE               256 non-null object
RELEASE_DATE        256 non-null object
dtypes: int64(3), object(3)
memory usage: 14.0+ KB

In [10]:
foreign_data.tail()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
808,Mr. X,30097,5016392,0,Foreign,2015-04-17 00:00:00
875,"Love, Rosie",14893,4419000,0,Romantic Comedy,2015-02-06 00:00:00
890,Trash,10230,4791538,0,Adventure Comedy,2015-10-09 00:00:00
959,The Riot Club,2188,2140000,0,Drama / Thriller,2015-03-27 00:00:00
970,Capture the Flag,6690,8300000,0,Animation,2015-12-04 00:00:00