In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Initial Analysis to see if foreign success predictions will work

In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline

In [110]:
df = pd.DataFrame([
   {
       "x1": 2,
       "genre": "G1,G2"
   },
  {
       "x1": 3,
       "genre": "G1,G3"
   },
    {
       "x1": 5,
       "genre": "G1"
   },
   {
       "x1": 4,
       "genre": "G2,G3"
   }])

In [103]:
df['x1']

0    2
1    3
2    4
Name: x1, dtype: int64

In [104]:
def split_genres(row):
    print row
#     print row
    genres = row['genre'].split(',')
#     print genres
#     print df
    for genre in genres:
        row[genre] = 1

In [106]:
df

   genre  x1
0  G1,G2   2
1  G1,G3   3
2  G2,G3   4

In [107]:
foo = lambda x: pd.Series([i for i in reversed(x.split(','))])
rev = df['genre'].apply(foo)

In [112]:
df['genre'].apply(lambda x: pd.Series(x.split(',')))

    0   1
0  G1  G2
1  G1  G3
2  G2  G3

In [59]:
################## Make it this way (the fast way) for the blog post
# load data into list of lists and then put it into pandas
##################

allFiles = glob.glob("/Users/williamcosby/Documents/metis/Project_Luther/movie_*.csv")
movie_data = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
movie_data_raw = pd.concat(list_)

In [60]:
# movie_data_2015_2016 = pd.read_csv('movie_data_2015_2016.csv')

In [61]:
movie_data_raw.head()

,MOVIE_NAME,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE,RELEASE_DATE
0,Marvel's The Avengers,207438708,896200000,220000000.0,Action / Adventure,2012-05-04 00:00:00
1,The Dark Knight Rises,160887295,636800000,250000000.0,Action Thriller,2012-07-20 00:00:00
2,The Hunger Games,152535747,286384032,78000000.0,Action / Adventure,2012-03-23 00:00:00
3,Skyfall,88364714,804200736,200000000.0,Action,2012-11-09 00:00:00
4,The Hobbit:An Unexpected Journey,84617303,718100000,0.0,Fantasy,2012-12-14 00:00:00

# Set the index to the movie name (dont need it in the analysis)

In [62]:
movie_data_raw = movie_data_raw.set_index(['MOVIE_NAME'])

# Find number of movies that have foreign gross info

In [63]:
# total number of movies
movie_data_raw.shape

(4256, 5)

In [64]:
# movies with foreign earnings information
movie_data_raw[movie_data_raw['FOREIGN_TOTAL']!=0].shape

(1528, 5)

# Subset to get just the movies with foreign earnings information

In [65]:
movie_data = movie_data_raw[movie_data_raw['FOREIGN_TOTAL']!=0]

In [66]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1528 entries, Marvel's The Avengers to Capture the Flag
Data columns (total 5 columns):
DOMESTIC_OPENING    1528 non-null int64
FOREIGN_TOTAL       1528 non-null int64
BUDGET              1527 non-null float64
GENRE               1528 non-null object
RELEASE_DATE        1528 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 71.6+ KB

# Start some analysis

### Need to turn genre into a one-hot encoding

In [67]:
movie_data = pd.get_dummies(movie_data,columns=["GENRE"])

In [68]:
movie_data.head()

,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,RELEASE_DATE,GENRE_Action,GENRE_Action / Adventure,GENRE_Action / Crime,GENRE_Action Comedy,GENRE_Action Drama,GENRE_Action Fantasy,...,GENRE_Sci-Fi Fantasy,GENRE_Sci-Fi Horror,GENRE_Sci-Fi Thriller,GENRE_Sports Comedy,GENRE_Sports Drama,GENRE_Thriller,GENRE_War,GENRE_War Drama,GENRE_Western,GENRE_Western Comedy
MOVIE_NAME,,,,,,,,,,,,,,,,,,,,,
Marvel's The Avengers,207438708,896200000,220000000.0,2012-05-04 00:00:00,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Dark Knight Rises,160887295,636800000,250000000.0,2012-07-20 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Hunger Games,152535747,286384032,78000000.0,2012-03-23 00:00:00,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Skyfall,88364714,804200736,200000000.0,2012-11-09 00:00:00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Hobbit:An Unexpected Journey,84617303,718100000,0.0,2012-12-14 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Will want to encode the dates as 1st quarter, 2nd quarter, 3rd quarter, 4th quarter
#### Do this by first transforming the column into strings "1","2","3","4", then apply pandas .get_dummies to make it one-hot

In [69]:
from pandas import DatetimeIndex
import dateutil.parser

In [70]:
# turn RELEASE_DATE into actual datetime
movie_data['RELEASE_DATE'] = movie_data['RELEASE_DATE'].apply(lambda x: dateutil.parser.parse(x))

In [71]:
movie_data['RELEASE_DATE'].dtype

dtype('<M8[ns]')

In [72]:
movie_data["RELEASE_QUARTER"] = movie_data["RELEASE_DATE"].apply(lambda x: x.quarter)

In [73]:
# now just want release quarter
movie_data.drop(['RELEASE_DATE'],axis=1,inplace=True)

#### Now vectorize release quarter column

In [74]:
movie_data = pd.get_dummies(movie_data,columns=["RELEASE_QUARTER"])

In [75]:
movie_data.head()

,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE_Action,GENRE_Action / Adventure,GENRE_Action / Crime,GENRE_Action Comedy,GENRE_Action Drama,GENRE_Action Fantasy,GENRE_Action Horror,...,GENRE_Sports Drama,GENRE_Thriller,GENRE_War,GENRE_War Drama,GENRE_Western,GENRE_Western Comedy,RELEASE_QUARTER_1,RELEASE_QUARTER_2,RELEASE_QUARTER_3,RELEASE_QUARTER_4
MOVIE_NAME,,,,,,,,,,,,,,,,,,,,,
Marvel's The Avengers,207438708,896200000,220000000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
The Dark Knight Rises,160887295,636800000,250000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
The Hunger Games,152535747,286384032,78000000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Skyfall,88364714,804200736,200000000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
The Hobbit:An Unexpected Journey,84617303,718100000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# Check the data for missing values, and other weird things

## Impute what I can into the raw data

### Check Domestic Openings

In [76]:
len(movie_data[movie_data["DOMESTIC_OPENING"] == 0])

0

## Check Budget

In [77]:
# woah...missing a lot~~
len (movie_data[movie_data['BUDGET'] == 0])

773

In [78]:
movie_no_budget = movie_data[movie_data['BUDGET'] == 0]

In [79]:
movie_no_budget.head(10)

,DOMESTIC_OPENING,FOREIGN_TOTAL,BUDGET,GENRE_Action,GENRE_Action / Adventure,GENRE_Action / Crime,GENRE_Action Comedy,GENRE_Action Drama,GENRE_Action Fantasy,GENRE_Action Horror,...,GENRE_Sports Drama,GENRE_Thriller,GENRE_War,GENRE_War Drama,GENRE_Western,GENRE_Western Comedy,RELEASE_QUARTER_1,RELEASE_QUARTER_2,RELEASE_QUARTER_3,RELEASE_QUARTER_4
MOVIE_NAME,,,,,,,,,,,,,,,,,,,,,
The Hobbit:An Unexpected Journey,84617303,718100000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Argo,19458109,96300000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
The Campaign,26588460,18000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Hope Springs,14650121,50745040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
The Lucky One,22518358,38900000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Project X,21051363,48000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
The Woman in Black,20874072,73397446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
The Devil Inside,33732515,48496546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
The Odd Life of Timothy Green,10822903,4157767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Beauty and the Beast (3D),17751905,14410056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

# Note!!!!!! one reason for weird domest/foreign offset is if a movie is released somewhere like korea...it might do super well there but not well in america (which is considered domestic)

# Have option of ignoring films with foreign as the genre

In [80]:
movies_no_domestic = movie_data[movie_data["DOMESTIC_OPENING"] == 0]

In [81]:
movies_no_domestic

Empty DataFrame
Columns: [DOMESTIC_OPENING, FOREIGN_TOTAL, BUDGET, GENRE_Action, GENRE_Action / Adventure, GENRE_Action / Crime, GENRE_Action Comedy, GENRE_Action Drama, GENRE_Action Fantasy, GENRE_Action Horror, GENRE_Action Thriller, GENRE_Adventure, GENRE_Adventure Comedy, GENRE_Animation, GENRE_Comedy, GENRE_Comedy / Drama, GENRE_Comedy Thriller, GENRE_Concert, GENRE_Crime, GENRE_Crime Comedy, GENRE_Crime Drama, GENRE_Crime Thriller, GENRE_Documentary, GENRE_Drama, GENRE_Drama / Thriller, GENRE_Family, GENRE_Family Adventure, GENRE_Family Comedy, GENRE_Fantasy, GENRE_Fantasy Comedy, GENRE_Fantasy Drama, GENRE_Foreign, GENRE_Foreign / Action, GENRE_Foreign / Horror, GENRE_Historical Drama, GENRE_Horror, GENRE_Horror Comedy, GENRE_Horror Thriller, GENRE_IMAX, GENRE_Music Drama, GENRE_Musical, GENRE_Period Action, GENRE_Period Adventure, GENRE_Period Comedy, GENRE_Period Drama, GENRE_Romance, GENRE_Romantic Comedy, GENRE_Romantic Thriller, GENRE_Sci-Fi, GENRE_Sci-Fi Action, GENRE_Sci-Fi Adventure, GENRE_Sci-Fi Comedy, GENRE_Sci-Fi Fantasy, GENRE_Sci-Fi Horror, GENRE_Sci-Fi Thriller, GENRE_Sports Comedy, GENRE_Sports Drama, GENRE_Thriller, GENRE_War, GENRE_War Drama, GENRE_Western, GENRE_Western Comedy, RELEASE_QUARTER_1, RELEASE_QUARTER_2, RELEASE_QUARTER_3, RELEASE_QUARTER_4]
Index: []

[0 rows x 66 columns]

# Just get rid of entries with no budget info

In [82]:
movie_data = movie_data[movie_data['BUDGET'] != 0]

In [83]:
movie_data.shape

(755, 66)

# Get some plots the data

In [86]:
import sklearn
from sklearn.cross_validation import train_test_split,KFold,cross_val_score
from pandas.tools.plotting import scatter_matrix

### Drop na values (there is apparently 1)

In [128]:
movie_data.dropna(inplace=True)

In [129]:
movie_data.shape

(754, 66)

In [130]:
movie_features,movie_target = movie_data.drop('FOREIGN_TOTAL', axis=1),movie_data['FOREIGN_TOTAL']

## Want to get some plots...write these to a directory
#### currently without the extra actor/director/writer information...

In [131]:
column_names = list(movie_features.columns)

for column in column_names:
    # create plots of column vs foreign budget
    
    ## want to rescale budget and domestic fields to make the graphs look better and be 
    ## easier to understand
    if column == 'BUDGET':
        plt.scatter(movie_features[column]/float(1000000),movie_target/float(1000000),alpha=0.2)
    elif column == 'DOMESTIC_OPENING':
        plt.scatter(movie_features[column]/float(1000000),movie_target/float(1000000),alpha=0.2)
    else:
        plt.scatter(movie_features[column],movie_target/float(1000000),alpha=0.2)
    
    plt.xlabel(column)
    plt.ylabel('foreign gross (millions $)')
    
    # rename the column name so that the pathing for storing the file works
    if '/' in column:
        print "renaming "+column
        column = column.split('/')[0] + column.split('/')[1]
    path = '/Users/williamcosby/Documents/metis/Project_Luther/plots/'+str(column)+'.png'
    plt.savefig(path)
    plt.close()

renaming GENRE_Action / Adventure
renaming GENRE_Action / Crime
renaming GENRE_Comedy / Drama
renaming GENRE_Drama / Thriller
renaming GENRE_Foreign / Action
renaming GENRE_Foreign / Horror

# Start some modeling
### Split the data into features and targets

# Linear Regression model
http://scikit-learn.org/stable/auto_examples/plot_cv_predict.html

In [133]:
from sklearn import linear_model
from sklearn.cross_validation import cross_val_predict, train_test_split

#### nh means "not holdout"

### Make a holdout set from the data

In [134]:
movie_features_nh, movie_features_holdout, movie_target_nh, movie_target_holdout = train_test_split(movie_features,movie_target,
                                                            test_size=0.15)

### Now split the data into the train and test sets (within the non-holdout data) and create the model

In [135]:
movie_features_train, movie_features_test, movie_target_train, movie_target_test = train_test_split(
                                                            movie_features_nh,movie_target_nh,
                                                            test_size=0.3)

### Drop domestic opening

In [142]:
# try dropping domestic opening 
movie_features_train_nodom = movie_features_train.drop(['DOMESTIC_OPENING'],axis=1)
movie_features_test_nodom = movie_features_test.drop(['DOMESTIC_OPENING'],axis=1)

## Train lin reg without domestic opening

In [145]:
lr_nodom = linear_model.LinearRegression()
lr_nodom.fit(movie_features_train_nodom,movie_target_train)
print "vanilla lin reg score: ", lr_nodom.score(movie_features_test_nodom, movie_target_test)

vanilla lin reg score:  0.514520246847

## Train lin reg with domestic opening

In [136]:
lr = linear_model.LinearRegression()
lr.fit(movie_features_train,movie_target_train)
print "vanilla lin reg score: ", lr.score(movie_features_test, movie_target_test)
# sort features by coefficient
sorted_features = sorted(zip(list(movie_features_train.columns),lr.coef_),
                         key=lambda tup: abs(tup[1]),reverse=True) 

for feature in sorted_features:
    print(feature)

vanilla lin reg score:  0.739165692493
('GENRE_Action / Adventure', -92562986.070918053)
('GENRE_Foreign / Action', 80195613.577281356)
('GENRE_Adventure Comedy', 74143583.331786767)
('GENRE_Period Adventure', -74078262.559668571)
('GENRE_Family Comedy', 71711072.16647236)
('GENRE_Romantic Thriller', 64566848.108467251)
('GENRE_Musical', -59968119.383334599)
('GENRE_Family Adventure', 56059591.140148453)
('GENRE_Foreign', 40760113.545381233)
('GENRE_Animation', 40649293.375178695)
('GENRE_Sci-Fi Thriller', 40077406.331665754)
('GENRE_Action', 37589884.079517797)
('GENRE_War', -36996352.377611041)
('GENRE_Sports Drama', -36305241.206331268)
('GENRE_Sci-Fi Action', 36061965.421646439)
('GENRE_Crime Thriller', -33805293.435968071)
('GENRE_Music Drama', -33647898.583286203)
('GENRE_Western', -32983492.313772202)
('GENRE_Comedy', -31835638.340294719)
('GENRE_Drama / Thriller', 30431081.106936999)
('GENRE_Horror Comedy', -29107320.923960995)
('GENRE_Action Thriller', -28799230.805928215)
('GENRE_Fantasy Drama', -27469239.904058911)
('GENRE_Sci-Fi Horror', 26808809.570644535)
('GENRE_Historical Drama', 25872444.873958599)
('GENRE_Action / Crime', -25542597.226309486)
('GENRE_Action Horror', 24039224.917440012)
('GENRE_Fantasy', 23799564.4202425)
('GENRE_Action Drama', -23262205.370104458)
('GENRE_Romance', -20384163.362197228)
('GENRE_Sci-Fi Adventure', -20328575.186309218)
('GENRE_Crime Drama', -19959434.813558813)
('RELEASE_QUARTER_1', -19915154.377116039)
('GENRE_Action Comedy', -19542414.194066994)
('GENRE_Horror', -18795299.266035601)
('GENRE_Documentary', -17240415.421102691)
('RELEASE_QUARTER_4', 16087936.19233183)
('GENRE_Sci-Fi Comedy', 15098855.63932954)
('GENRE_Thriller', -13646066.834447179)
('GENRE_Period Action', 13644334.829140851)
('GENRE_Concert', -11779279.784700014)
('GENRE_Sci-Fi Fantasy', -10967819.522715662)
('GENRE_IMAX', 9638529.2941079717)
('RELEASE_QUARTER_3', 7549366.1320528761)
('GENRE_Adventure', -5749010.7099720947)
('GENRE_Comedy / Drama', 5470085.7480717637)
('GENRE_Period Drama', -4186498.0356622539)
('GENRE_Romantic Comedy', 4130685.763024373)
('RELEASE_QUARTER_2', -3722146.745733697)
('GENRE_Drama', 2944682.0931686014)
('GENRE_Horror Thriller', 2492749.9768000031)
('GENRE_Sci-Fi', 1793224.0517725646)
('GENRE_Family', 1328871.4744108198)
('GENRE_Fantasy Comedy', -365673.14451478492)
('DOMESTIC_OPENING', 3.6262620849834422)
('GENRE_Action Fantasy', -0.95199958235025406)
('BUDGET', 0.93098335667267051)
('GENRE_Crime Comedy', 0.25852170586585999)
('GENRE_Comedy Thriller', 0.14896480366587639)
('GENRE_Period Comedy', 0.077717838808894157)
('GENRE_Foreign / Horror', 0.05061592161655426)
('GENRE_Crime', 0.0012002894654870033)
('GENRE_Sports Comedy', -7.4505805969238281e-09)
('GENRE_War Drama', 0.0)
('GENRE_Western Comedy', 0.0)

# Run on holdout set

In [137]:
# with domestic opening information
lr.score(movie_features_holdout, movie_target_holdout)

0.74354139012864584

In [147]:
# without domestic opening information
movie_features_holdout_nodom = movie_features_holdout.drop(['DOMESTIC_OPENING'],axis=1)
lr_nodom.score(movie_features_holdout_nodom,movie_target_holdout)

0.58801763143088182

# Random Forest

In [149]:
from sklearn.ensemble import RandomForestRegressor

In [154]:
rf_nodom = RandomForestRegressor(n_estimators=1000,max_features=64)
rf_nodom.fit(movie_features_train_nodom,movie_target_train)
print "Random Forest result with no domestic information: ", rf_nodom.score(movie_features_test_nodom,movie_target_test)

rf = RandomForestRegressor(n_estimators=1000,max_features=65)
rf.fit(movie_features_train,movie_target_train)
print "Random Forest result with domestic information: ", rf.score(movie_features_test,movie_target_test)

Random Forest result with no domestic information:  0.506716300637
Random Forest result with domestic information:  0.715849883057

In [156]:
rf.feature_importances_

array([  6.44441706e-01,   2.68666163e-01,   5.93186728e-03,
         1.34510448e-02,   5.88185351e-05,   1.95142625e-03,
         2.40346828e-04,   0.00000000e+00,   1.43254131e-03,
         7.87780581e-04,   8.10374848e-03,   3.93258851e-04,
         6.78131376e-03,   2.24593032e-03,   4.65653134e-04,
         0.00000000e+00,   1.33651636e-05,   0.00000000e+00,
         0.00000000e+00,   1.76921040e-04,   4.81455161e-05,
         3.41836000e-05,   1.67882953e-03,   1.75096758e-03,
         4.89168795e-04,   1.38734165e-03,   3.76747641e-03,
         2.10436574e-03,   7.59628342e-06,   8.45721868e-05,
         1.48293361e-04,   8.06419503e-05,   0.00000000e+00,
         2.35011262e-06,   9.45561939e-04,   6.95116811e-05,
         3.26742863e-05,   1.81571408e-06,   1.10696453e-05,
         1.08457057e-04,   2.00799431e-04,   2.09297793e-05,
         0.00000000e+00,   5.48704762e-05,   8.51928985e-04,
         2.36651510e-04,   9.94491161e-05,   4.94834396e-04,
         4.46505066e-03,   9.61610032e-04,   6.15651543e-07,
         1.15104039e-03,   1.08202740e-03,   1.76539648e-03,
         0.00000000e+00,   2.30707636e-04,   6.93823903e-04,
         2.22799175e-05,   0.00000000e+00,   4.00632781e-04,
         0.00000000e+00,   3.86881754e-03,   4.27153531e-03,
         4.82079435e-03,   6.41129588e-03])

# Gradient Boost